@{
    Layout = "_Layout";
}
    </header>
    <section id="banner">
        <img src="img/logo/logo.png" alt="Logo Ponto Digital!">
        <h2>Contatos!</h2>
    </section>

    <section id="geral">
        <h3>Contatos Gerais</h3>
        <div id="cont">
            <div id="texto">
                <p> <span> E-mail:</span> pontodigital@gmail.com</p>
                <p> <span>Telefone: </span>94002-8922</p>
                <p> <span>Endereço:</span> Av. Paulista 100 - São Paulo, SP</p>
            </div>
            <div id="sociais">
                <p> <span> Redes Sociais:</span></p>
                <div id="icones">
                    <a href="#"><img src="img/icone-facebook.png" alt="Icone Facebook"> </a>
                    <a href="#"><img src="img/icone-gmail.png" alt="Icone Gmail"> </a>
                </div>
            </div>
        </div>
    </section>

    <section id="cac">
         <h3>Central de Atendimento ao Cliente</h3>
         <p>Está com dúvida ao acessar nosso site, ou com problemas para fazer um pedido? <br>
         Ligue no SAC que resolveremos na hora!</p>
         <p> <span> Telefone: (11) 4404-4594 </span></p>
         <p>Horário de atendimento: das 8:00 às 20:00, de segunda à sábado.</p>
    </section>


    <section id="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.9483825280313!2d-46.6473153
        8440674!3d-23.570297267808925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59bd92bce431%
        3A0xc37ded133806ef0b!2sAv.+Paulista%2C+100+-+Bela+Vista%2C+S%C3%A3o+Paulo+-+SP%2C+01310-000!5e0!3m2!
        1spt-BR!2sbr!4v1552481153448" width="1400" height="500" frameborder="0" style="border:1" 
        allowfullscreen></iframe>
    </section>
    