@{
    Layout = "_Layout";
}

    <section id="banner">
        <img src="img/logo/logo.png" alt="Logo Ponto Digital!">
        <h2> Quem somos?</h2>
    </section>

    <section id="quem_somos">
        <h3>Agora Vai!</h3>
        <p>Tendo sido fundada em 2005, a Agora Vai! é pioneira no mercado de pontos digitais e traz a tecnologia em um preço acessivel para qualquer negócio.</p>
    </section>

    <section id="fundadores">
        <h3>Fundadores</h3>
        <div>
        <div class="fund_indiv">
            <h4>Carlos Tsukamoto</h4>
            <img src="img/quem-somos/fundador-1.png" alt="Carlos Tsukamoto">
            <p>Apaixonado pela tecnologia, fundou a Agora Vai! e se mantém até hoje como CEO.</p>
        </div>
        <div class="fund_indiv">  
                <h4>César Sportore</h4>
                <img src="img/quem-somos/fundador-2.png" alt="César Sportore">
                <p>Atualmente CEO da Agora Vai! entrou na empresa em 2006.</p>
            </div>
        </div>
        </section>