@{
    Layout = "_Layout";
}    
    
    <section id="banner">
        <img src="img/logo/logo.png" alt="Logo Ponto Digital!">
        <h2>O mais reconhecido do mercado! <br><span> Ponto Digital, </span><br> para gestão de funcionários!</h2>
    </section>

    <section id="qualidades">
        <h3>Qualidades e diferenciais do Ponto Digital</h3>
        <div id="tudo">
            <div class="indiv">
                <img src="img/home/icone-velocidade.png" alt="Icone velocimetro">
                <p>Temos o compromisso em relação ao tempo de entrega, sendo entregue em no <span>máximo 24 horas! </span> </p>
            </div>

            <div class="indiv">
                <img src="img/home/icone-acesso-mundial.png" alt="Icone de acesso remoto">
                <p>Gerencie seus funcionários de <span> qualquer lugar do  mundo</span>, necessitando  apenas de um dispositivo com internet!</p>
            </div>

            <div class="indiv">
                <img src="img/home/icone-segurança.png" alt="Icone de segurança">
                <p><span> Com servidores 100% protegidos</span> sua gestão estará sempre segura conosco.</p>
            </div>
        </div>
    </section>

    <section id="planos">
        <h3>Ache o plano para você!</h3>
        <div>
            <div>
                <a href='@Url.Action("Index", "Planos")#plano' >Experimente Grátis!</a>
            </div>

            <div>
                <a href='@Url.Action("Index", "Planos")#plano' >Confira os planos <br> e escolha o seu!</a> 
            </div>       
        </div>
    </section>

    <section id="depoimentos">
        <div>
            <h3>Depoimentos de usuários do Ponto Digital:</h3>
            <div>
                <div>
                    <p> <span>Senai</span>: <br> "Um software muito bom para controle de funcionários, o melhor do ramo!"</p>
                </div>

                <div>
                    <p> <span>Intel</span>:<br> "Um atendimento excepcional, nada à reclamar."</p>
                </div>

                <div>
                    <p> <span>Carrefour</span>:<br> "Nada a complementar, software completo e fácil de usar."</p>
                </div>
            </div>
        </div>    
        <a id="comentarios" href='@Url.Action("Index", "Comentarios")'>Faça você um depoimento sobre sua experiência com o Ponto Digital!</a>
    </section>
    