*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
}
body{
    width: 100%;
    height: 100%;
    background-color: #000;    
    color: #fff;
}
h1{
    display: none;
}
#content{
    width: 90%;
    margin: 2em auto;
}
#content h3{
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}
a{
    font-size: 1.1em;
    color: #dddddd;
}

#menu{
    width: 90%;
    padding: 0.7em 0;
    margin: 0 auto;
}
#menu ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#menu .ul_menu p{
    color: #fff;
    font-size: 1.2em;
    padding: 0.4em;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}
#menu ul p:hover{
    color: #000;
    background: #fff;
    cursor: pointer;
}
#menu .ul_menu a{
    color: #fff;
    font-size: 1.2em;
    padding: 0.4em;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}
#menu ul a:hover{
    color: #000;
    background: #fff;
}

.comentario{
    padding: 1em;
    text-align: left;
    width: 100%;
    border-style: solid;
    border-width: 0.09em;
    margin: 1em 0;
    background: #000;
}
.comentario p{
    line-break: auto;   
}
.nomeEmail{
    text-decoration: underline;
    font-size: 1.1em;
    margin-bottom: 0.25em;
}
.data{
    text-align: right;
}

.topo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}