#content{
    background-image: url(../img/fundo-cadastro.png);
    background-repeat: repeat;
    background-position: top left;
    padding: 1em 0 2em 0;
}
#banner h2{
    margin-right: 7%;
}

#comentarios{
    text-align: center;
    width: 90%;
    margin: 1em auto;
}

#comentarios h3{
    margin: 1em auto;   
    font-size: 2.5em;
}

#comentarios > p{
    margin-top: -0.75em;
    margin-bottom: 0.25em;
    font-size: 1.5em;
    text-decoration: underline;

}
#comentsUser{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.comentario{
    padding: 1em;
    text-align: left;
    width: 49%;
    border-style: solid;
    border-width: 0.09em;
    margin: 1em 0;
    background: #eee;
}
.nomeEmail{
    text-decoration: underline;
    font-size: 1.1em;
    margin-bottom: 0.25em;
}
.data{
    text-align: right;
}


#comentar{
    text-align: center;
    width: 70%;
    margin: 2em auto;
}
#comentar h3{
    font-size: 2em;
}
#comentar a{
    /* font-weight: bolder; */
    margin: 0.3em 0 1em 0;
    font-size: 1.5em;
    text-decoration: underline;
}
#comentar a:hover{
    cursor: pointer;
}
#comentar form{
    text-align: left;
    font-size: 1.2em;
}
.inputs{
    width: 80%;
    margin: 0 auto;
}


.input_msg{
    width: 100%;
    background: #eee;
}
.submit{
    display: block;
    width: 25%;
    height: 1.5em;
    font-size: 1.3em;
    margin: 0 auto;
}
@media screen and (max-width:1200px){
    .inputs{
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width:930px){
    #comentar{
        width: 80%;
    }
}
@media screen and (max-width:768px){
    #comentar{
        width: 90%;
    }
    .comentario{
        width: 100%;
    }
    #comentar p{
        font-size: 1.2em;
    }
    #comentar h3{
        font-size: 1.7em;
    }
    #comentarios h3{
        margin: 0.5em auto;   
        font-size: 2.2em;
    }
    #comentar form{
        font-size: 1em;
    }

}